<body>
<!--######## HEADER ########-->
<header class="header">
  <div class="Row">
    <div class="compLogo">Traicy</div>
    <div class="barAndAdvertize">
      <div class="barItemsRow">
        <div class="searchContainer">
          <input title="search" type="search" class="searchInput">
          <button type="submit" class="searchIconButton">
            <i class="fas fa-search searchIcon"></i>
          </button>
        </div>
        <div class="rowFlexEnd">
          <a href="#"><i class="fab fa-twitter  customIcon"></i></a>
          <a href="#"><i class="fab fa-facebook-f  customIcon"></i></a>
          <a href="#"><i class="fas fa-rss  customIcon"></i></a>
          <!--  TODO: Replace this with other icon-->
          <a href="#"><i class="fas fa-rss  customIcon"></i></a>
          <a href="#"><i class="fab fa-google-plus-g  customIcon"></i></a>
          <!-- TODO: replace this line icon with svg -->
          <a href="#"><i class="fab fa-line  customIcon"></i></a>
        </div>
        <a href="#" class="loginButton">
          ログイン/新規会員登録
        </a>
      </div>
      <div class="banner-advertizement-top">Ad image</div>
    </div>
  </div>
  <div class="menu-text-row">
    <a href="#" class="menu-text">航空</a>
    <a href="#" class="menu-text">鉄道</a>
    <a href="#" class="menu-text">バス</a>
    <a href="#" class="menu-text">ホテル</a>
    <a href="#" class="menu-text">旅行会社</a>
    <a href="#" class="menu-text">クレカ</a>
    <a href="#" class="menu-text">自動車</a>
    <a href="#" class="menu-text">コラム</a>
    <a href="#" class="menu-text">本</a>
    <a href="#" class="menu-text">一問一答</a>
    <a href="#" class="menu-text">リリース</a>
    <a href="#" class="menu-text">旅行情報</a>
    <a href="#" class="menu-text">IR</a>
    <a href="#" class="menu-text">トーク(掲示板)</a>
    <a href="#" class="menu-text">航空券比較</a>
    <a href="#" class="menu-text">海外WI-FI比較</a>
  </div>

</header>
<!--######### Main Contents #######-->
<div class="contents-container">
  <div class="center-contents">
    <!--    ########### 記事内容 Airline ##############-->
    <div class="article-container">

      <p class="airline-name-ja">
        チャイナエアライン／中華航空 <span class="airline-name-en">（CI/CAL）</span>
      </p>

      <div class="article-text-container">
        <p class="article-content-text">
          全日本空輸（ぜんにっぽんくうゆ、英文名：All Nippon Airways、略称：ANA）は、ANAホールディングスの子会社で、
          国内・国際線の航空事業を展開している。東京国際空港（羽田空港）、成田国際空港、大阪国際空港、関西国際空港、
          那覇空港をハブ空港として路線網を展開している。
          代表取締役社長は平子裕志氏。本社は東京・汐留の汐留シティセンター。（2017年8月現在）
        </p>
      </div>

      <div class="company-desc-container">
        <div class="images-container">
          <div class="company-image">image</div>
          <div class="official-link-button">
            <p class="official-link-text">チャイナエアライン公式サイト</p>
            <a href="#" class="official-link-anchor"></a>
          </div>
          <p class="updated-at-text">（更新日2017年10月）</p>
        </div>

        <div class="company-detail-texts">
          <p class="company-detail-bold">正式名称 <span class="detail-text-thin">チャイナエアライン(Chine Airlines</span></p>
          <p class="company-detail-bold">連合組合 <span class="detail-text-thin">スカイチーム</span></p>
          <p class="company-detail-bold">レターコード <span class="detail-text-thin">CAL | CI</span></p>
          <div class="rating-container">
            <p class="rating-title-bold">スカイトラックス評価</p>
            <div class="stars-container">
              <i class="fas fa-star rating-star"></i>
              <i class="fas fa-star rating-star"></i>
              <i class="fas fa-star rating-star"></i>
              <i class="fas fa-star rating-star"></i>
              <i class="fas fa-star rating-star"></i>
            </div>
            <p class="rating-text">(35位 2017)</p>
          </div>
          <p class="company-detail-bold">ハブ空港 <span class="detail-text-thin">台湾桃園国際空港/高雄国際空港</span></p>
          <p class="company-detail-bold">路線数 <span class="detail-text-thin"></span></p>
          <p class="company-detail-bold">就航国数 <span class="detail-text-thin">チャイナエアライン</span></p>
          <p class="company-detail-bold">設立年 <span class="detail-text-thin">チャイナエアライン</span></p>
          <p class="company-detail-bold">運用機材数 <span class="detail-text-thin">チャイナエアライン</span></p>
          <p class="company-detail-bold">タグ</p>
          <div class="article-tags-container">
            <div class="blue-tag-container">
              <p class="blue-tag-text"><i class="fas fa-tag fa-white-tag"></i>セール・特別運賃</p>
              <a href="#" class="blue-tag-link"></a>
            </div>
            <div class="blue-tag-container">
              <p class="blue-tag-text"><i class="fas fa-tag fa-white-tag"></i>チャイナエアライン／中華航空（CI/CAL）</p>
              <a href="#" class="blue-tag-link"></a>
            </div>
          </div>
        </div>
      </div>


      <div class="article-blue-divider"></div>

      <p class="headline-ja">航空券予約サイトで予約</p>
      <div class="reservation-links-container">
        <div>
          <div class="reservation-ad-box">
            ad
          </div>
          <a class="reservation-ad-text" href="#">
            楽天トラベルで予約
            <i class="fas fa-angle-right reservation-angle-right"></i>
          </a>
        </div>
        <div>
          <div class="reservation-ad-box">
            ad
          </div>
          <a class="reservation-ad-text" href="#">
            楽天トラベルで予約
            <i class="fas fa-angle-right reservation-angle-right"></i>
          </a>
        </div>
        <div>
          <div class="reservation-ad-box">
            ad
          </div>
          <a class="reservation-ad-text" href="#">
            楽天トラベルで予約
            <i class="fas fa-angle-right reservation-angle-right"></i>
          </a>
        </div>
        <div>
          <div class="reservation-ad-box">
            ad
          </div>
          <a class="reservation-ad-text" href="#">
            楽天トラベルで予約
            <i class="fas fa-angle-right reservation-angle-right"></i>
          </a>
        </div>
        <div>
          <div class="reservation-ad-box">
            ad
          </div>
          <a class="reservation-ad-text" href="#">
            楽天トラベルで予約
            <i class="fas fa-angle-right reservation-angle-right"></i>
          </a>
        </div>
        <div>
          <div class="reservation-ad-box">
            ad
          </div>
          <a class="reservation-ad-text" href="#">
            楽天トラベルで予約
            <i class="fas fa-angle-right reservation-angle-right"></i>
          </a>
        </div>

      </div>
      <div class="article-blue-divider"></div>

      <p class="headline-ja">関連記事</p>
      <div class="attempt-related-article">
        <a href="#" class="attempt-text-related-article">
          <i class="fas fa-angle-right yellow-angle"></i>
          絶対に損しない　ジェットスターの手荷物料金は「予約時加算」がカギ
        </a>
        <a href="#" class="attempt-text-related-article">
          <i class="fas fa-angle-right yellow-angle"></i>
          絶対に損しない　ジェットスターの手荷物料金は「予約時加算」がカギ
        </a>
      </div>
    </div>


    <!--    ############# 航空会社関連情報一覧 ##########-->
    <div class="campaigns-container">
      <div class="headline-row">
        <div class="headline-left">
          <p class="headline-en">
            NEWS
          </p>
          <p class="headline-ja">
            チャイナエアラインの記事一覧
          </p>
        </div>
        <div class="headline-right">
          <a href="#" class="headline-tab">新着一覧</a>
          <a href="#" class="headline-tab">人気記事</a>
          <a href="#" class="headline-tab">セール</a>
        </div>
      </div>
      <div class="article-cards-list">
        <div class="article-card-simple">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
          </div>

        </div>
        <div class="article-card-simple">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
          </div>

        </div>
        <div class="article-card-simple">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
          </div>

        </div>
        <div class="article-card-simple">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
          </div>

        </div>
        <div class="article-card-simple">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
          </div>

        </div>
        <div class="article-card-simple">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
          </div>
        </div>

        <div class="ad-card-pr">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
            <p class="ad-card-caption">
              PR (ライオン株式会社)
            </p>
          </div>
        </div>
        <div class="ad-card-pr">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
            <p class="ad-card-caption">
              PR (ライオン株式会社)
            </p>
          </div>
        </div>
        <div class="ad-card-pr">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
            <p class="ad-card-caption">
              PR (ライオン株式会社)
            </p>
          </div>
        </div>
        <div class="ad-card-pr">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
            <p class="ad-card-caption">
              PR (ライオン株式会社)
            </p>
          </div>
        </div>
        <div class="ad-card-pr">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
            <p class="ad-card-caption">
              PR (ライオン株式会社)
            </p>
          </div>
        </div>
        <div class="ad-card-pr">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
            <p class="ad-card-caption">
              PR (ライオン株式会社)
            </p>
          </div>
        </div>

      </div>
      <div class="campaign-attempt-layout">
        <div class="recommend-text-row">
          <p class="recommend-text">Recommended by</p>
          <p>poplin</p>
        </div>
      </div>
      <div class="pagination-container">
        <i class="fas fa-angle-left pagination-angle"></i>
        <a class="pagination-text" href="#">前へ</a>
        <a href="#" class="pagination-box">1</a>
        <a href="#" class="pagination-box">2</a>
        <a href="#" class="pagination-box">3</a>
        <a href="#" class="pagination-box">4</a>
        <a class="pagination-text" href="#">次へ</a>
        <i class="fas fa-angle-right pagination-angle"></i>
      </div>
    </div>

    <!--    ####### バナー広告とinformationコンテナ#####-->
    <div class="ad-infos-container">
      <div class="banner-advertizement-bottom">Ad image</div>
      <div class="information-container">
        <div class="info-title-row">
          <p class="info-title-en">INFORMATION</p>
          <p class="info-title-ja">トライシーからのお知らせ</p>
        </div>
        <a href="#" class="info-content">2017年12月31日
          【ご報告】「第12回 Traicyトークイベント＆懇親会」チャリティ販売について
        </a>
        <a href="#" class="info-content">2017年12月31日
          【ご報告】「第12回 Traicyトークイベント＆懇親会」チャリティ販売について
        </a>
        <a href="#" class="info-content">2017年12月31日
          【ご報告】「第12回 Traicyトークイベント＆懇親会」チャリティ販売について
        </a>
        <a href="#" class="info-content">2017年12月31日
          【ご報告】「第12回 Traicyトークイベント＆懇親会」チャリティ販売について
        </a>
        <a href="#" class="info-content">2017年12月31日
          【ご報告】「第12回 Traicyトークイベント＆懇親会」チャリティ販売について
        </a>
      </div>
      <div class="banner-advertizement-bottom">Ad image</div>
    </div>
  </div>
  <div class="right-contents">
    <div class="sidebar-card-ad">ad card</div>
    <div class="sidebar-card-ad">ad card</div>
    <p class="headline-ja">人気記事</p>
    <div class="popular-articles">
      <div class="small-popular-article">
        <div class="small-popular-article-photo">
          <div class="popularity-tag">tag</div>
          <img src="#">
        </div>
        <a href="#" class="small-popular-article-text">
          世界最高の空港、6年連続でシンガポール・チャンギ国際空港　羽田は3位、中部は7位
        </a>
      </div>
      <div class="small-popular-article">
        <div class="small-popular-article-photo">
          <div class="popularity-tag">tag</div>
          <img src="#">
        </div>
        <a href="#" class="small-popular-article-text">
          世界最高の空港、6年連続でシンガポール・チャンギ国際空港　羽田は3位、中部は7位
        </a>
      </div>
      <div class="small-popular-article">
        <div class="small-popular-article-photo">
          <div class="popularity-tag">tag</div>
          <img src="#">
        </div>
        <a href="#" class="small-popular-article-text">
          世界最高の空港、6年連続でシンガポール・チャンギ国際空港　羽田は3位、中部は7位
        </a>
      </div>
      <div class="small-popular-article">
        <div class="small-popular-article-photo">
          <div class="popularity-tag">tag</div>
          <img src="#">
        </div>
        <a href="#" class="small-popular-article-text">
          世界最高の空港、6年連続でシンガポール・チャンギ国際空港　羽田は3位、中部は7位
        </a>
      </div>
      <div class="small-popular-article">
        <div class="small-popular-article-photo">
          <div class="popularity-tag">tag</div>
          <img src="#">
        </div>
        <a href="#" class="small-popular-article-text">
          世界最高の空港、6年連続でシンガポール・チャンギ国際空港　羽田は3位、中部は7位
        </a>
      </div>
    </div>
    <div class="sidebar-vertical-ad">ad big</div>
    <p class="headline-ja">航空会社の記事一覧</p>
    <div class="sidebar-tags-container">
      <div class="white-tag">
        <i class="fas fa-tag yellow-tag"></i>
        <p class="white-tag-text">日本航空 (JAL)</p>
        <a href="#" class="white-tag-anchor"></a>
      </div>
      <div class="white-tag">
        <i class="fas fa-tag yellow-tag"></i>
        <p class="white-tag-text">全日本空輸 (ANA)</p>
        <a href="#" class="white-tag-anchor"></a>
      </div>
      <div class="white-tag">
        <i class="fas fa-tag yellow-tag"></i>
        <p class="white-tag-text">ジェットスター・ジャパン</p>
        <a href="#" class="white-tag-anchor"></a>
      </div>
      <div class="white-tag">
        <i class="fas fa-tag yellow-tag"></i>
        <p class="white-tag-text">日本航空 (JAL)</p>
        <a href="#" class="white-tag-anchor"></a>
      </div>
      <div class="white-tag">
        <i class="fas fa-tag yellow-tag"></i>
        <p class="white-tag-text">日本航空 (JAL)</p>
        <a href="#" class="white-tag-anchor"></a>
      </div>
      <div class="white-tag">
        <i class="fas fa-tag yellow-tag"></i>
        <p class="white-tag-text">日本航空 (JAL)</p>
        <a href="#" class="white-tag-anchor"></a>
      </div>
      <div class="white-tag">
        <i class="fas fa-tag yellow-tag"></i>
        <p class="white-tag-text">日本航空 (JAL)</p>
        <a href="#" class="white-tag-anchor"></a>
      </div>
      <div class="white-tag">
        <i class="fas fa-tag yellow-tag"></i>
        <p class="white-tag-text">日本航空 (JAL)</p>
        <a href="#" class="white-tag-anchor"></a>
      </div>
    </div>
    <div class="tag-attempt-container">
      <div class="arrow-attempt">
        <i class="fas fa-angle-right yellow-angle"></i>
        <a href="#" class="attempt-text">乗り物・コラムをもっと見る</a>
      </div>
    </div>
    <div class="sidebar-recruit-card">
      <div class="recruit-section-top">
        <p class="recruit-top-text">デザイナ・エンジニア募集中</p>
      </div>
      <div class="recruit-section-center">
        <p class="recruit-center-text">言語: PHP/Ruby</p>
        <p class="recruit-center-text">雇用: アルバイト・インターン</p>
        <p class="recruit-center-text">時給: 1000円~</p>
      </div>
      <div class="recruit-section-bottom">
        <img src="#" alt="" class="recruit-logo">
        ロゴ
      </div>
    </div>
    <p class="headline-ja">メールマガジンを登録する</p>

    <div class="sidebar-mail-register">
      <p class="mail-register-text">Traicyのメルマガでは以下の情報などをお届けしています。</p>
      <p class="mail-register-description">
        ・選りすぐりのデイリーニュース
      </p>
      <p class="mail-register-description">
        ・メルマガ限定クーポン
      </p>
      <p class="mail-register-description">
        ・激安セール開催の案内
      </p>
      <div class="mail-input-container">
        <input type="text" class="mail-register-input" title="mail-register" placeholder="メールアドレス">
        <button type="submit" class="mail-register-button">登録</button>
      </div>

      <p class="mail-register-text">お持ちのアカウントで登録する</p>
      <div class="sns-logos-row">
        <!--        TODO: replace these icons with circular one if needed-->
        <i class="fab fa-twitter-square mail-register-twitter"></i>
        <i class="fab fa-facebook-square mail-register-facebook"></i>
        <i class="fab fa-google-plus mail-register-google"></i>
        <i class="fab fa-yahoo mail-register-yahoo"></i>
      </div>
    </div>
    <div class="sidebar-card-ad">ad card</div>

  </div>
</div>
<!--######## フッター ######-->
<footer class="footer">
  <div class="footer-menu-row">
    <a href="#" class="footer-menu">お知らせ |</a>
    <a href="#" class="footer-menu"> 利用規約 |</a>
    <a href="#" class="footer-menu">配信先一覧 |</a>
    <a href="#" class="footer-menu">ライター一覧 |</a>
    <a href="#" class="footer-menu">広告掲載 |</a>
    <a href="#" class="footer-menu">ブロガーネットワーク登録 |</a>
    <a href="#" class="footer-menu">メルマガ登録 |</a>
    <a href="#" class="footer-menu">LINE登録 |</a>
    <a href="#" class="footer-menu">採用情報 |</a>
    <a href="#" class="footer-menu">運営会社情報 |</a>
    <a href="#" class="footer-menu">お問い合わせ</a>
  </div>
  <p class="copyright">
    Copyright(c) traicy, Inc. All rights reserved.
  </p>
</footer>
</body>