<body>
<!--######## HEADER ########-->
<header class="header">
  <div class="Row">
    <div class="compLogo">Traicy</div>
    <div class="barAndAdvertize">
      <div class="barItemsRow">
        <div class="searchContainer">
          <input title="search" type="search" class="searchInput">
          <button type="submit" class="searchIconButton">
            <i class="fas fa-search searchIcon"></i>
          </button>
        </div>
        <div class="rowFlexEnd">
          <a href="#"><i class="fab fa-twitter  customIcon"></i></a>
          <a href="#"><i class="fab fa-facebook-f  customIcon"></i></a>
          <a href="#"><i class="fas fa-rss  customIcon"></i></a>
          <!--  TODO: Replace this with other icon-->
          <a href="#"><i class="fas fa-rss  customIcon"></i></a>
          <a href="#"><i class="fab fa-google-plus-g  customIcon"></i></a>
          <!-- TODO: replace this line icon with svg -->
          <a href="#"><i class="fab fa-line  customIcon"></i></a>
        </div>
        <a href="#" class="loginButton">
          ログイン/新規会員登録
        </a>
      </div>
      <div class="banner-advertizement-top">Ad image</div>
    </div>
  </div>
  <div class="menu-text-row">
    <a href="#" class="menu-text">航空</a>
    <a href="#" class="menu-text">鉄道</a>
    <a href="#" class="menu-text">バス</a>
    <a href="#" class="menu-text">ホテル</a>
    <a href="#" class="menu-text">旅行会社</a>
    <a href="#" class="menu-text">クレカ</a>
    <a href="#" class="menu-text">自動車</a>
    <a href="#" class="menu-text">コラム</a>
    <a href="#" class="menu-text">本</a>
    <a href="#" class="menu-text">一問一答</a>
    <a href="#" class="menu-text">リリース</a>
    <a href="#" class="menu-text">旅行情報</a>
    <a href="#" class="menu-text">IR</a>
    <a href="#" class="menu-text">トーク(掲示板)</a>
    <a href="#" class="menu-text">航空券比較</a>
    <a href="#" class="menu-text">海外WI-FI比較</a>
  </div>

</header>
<!--######### Main Contents #######-->
<div class="contents-container">
  <div class="center-contents">
    <!--    ########### 記事内容 ##############-->
    <div class="article-container">
      <p class="article-content-title">
        アリタリア-イタリア航空、東京/成田発ヨーロッパ19都市行きで期間限定運賃　往復3.7万円から
      </p>
      <div class="article-content-author-row">
        <p class="article-created-at">2018年1月15日 5:25</p>
        <a href="#" class="article-content-link">佐藤 正晃（Traicy編集部）</a>
      </div>
      <div class="article-content-image-container">
        <div class="article-content-image">
          image
        </div>
        <p class="article-image-caption">
          アリタリア-イタリア航空は、東京/成田発ヨーロッパ19都市
        </p>
      </div>

      <div class="article-table-contents">
        <div class="table-of-contents-row">
          <div class="vertical-bar"></div>
          <p class="table-of-contents-head">目次</p>
        </div>
        <a href="#" class="table-of-contents-text">1. アリタリア航空セールの概要</a>
        <a href="#" class="table-of-contents-text">2. アリタリア航空セールの期間や注意点</a>
      </div>
      <div class="article-text-container">
        <p class="article-content-text">
          対象路線と往復価格は、アムステルダム・バルセロナ・ボローニャ・フィレンツェ・ジェノヴァ・ロンドン・
          マドリード・パリ・ピサ・ペスカーラ・トリノ・トリエステ・ヴェネツィア・ヴェローナ行きが37,000円から、
          ナポリ行きが50,000円から、ミラノ・リナーテ行きが59,000円から、バーリ・パレルモ行きが65,000円から、
          ミラノ・マルペンサ行きが66,000円から、ローマ行きが69,000円から。諸税・燃油サーチャージ・
          週末サーチャージ等は別途必要となる。
        </p>
      </div>


      <div class="next-article-row">
        <p class="article-content-text">
          次ページへ :
        </p>
        <a href="#" class="next-article-link">アリタリア航空セールの期間や注意点</a>
      </div>


      <div class="pagination-container">
        <i class="fas fa-angle-left pagination-angle"></i>
        <a class="pagination-text" href="#">前へ</a>
        <a href="#" class="pagination-box">1</a>
        <a href="#" class="pagination-box">2</a>
        <a href="#" class="pagination-box">3</a>
        <a href="#" class="pagination-box">4</a>
        <a class="pagination-text" href="#">次へ</a>
        <i class="fas fa-angle-right pagination-angle"></i>
      </div>

      <div class="detail-button">
        <p class="detail-button-text">詳細はこちら</p>
        <i class="fas fa-angle-right detail-button-angle"></i>
        <a href="#" class="detail-button-link"></a>
      </div>

      <div class="author-description-container">
        <div class="author-thumbnail"></div>
        <div class="author-description-texts">
          <p class="author-name">
            橋賀 秀紀（トラベルジャーナリスト）
          </p>
          <p class="author-detail">
            トラべルジャーナリスト。筑波学院大学非常勤講師。東京都生まれ。
            海外旅行ガイドブック編集者・航空雑誌編集者などを経て現職。渡航国数は110か国。
            海外渡航暦は200回以上。 記事の内容についてのお問い合わせ・取材の依頼などについては
            hashigahideki@gmail.comまで。
          </p>
        </div>
      </div>

      <div class="small-banner-container">
        <div class="small-ad-banner">ad</div>
        <div class="small-ad-banner">ad</div>
      </div>
      <div class="article-adcards-container">
        <div class="article-detail-ad"></div>
        <div class="article-detail-ad"></div>
      </div>
      <div>
        sns row ここは既存のものを使う
      </div>

      <div class="article-tags-container">
        <p class="article-tag-text">
          タグ
        </p>
        <div class="blue-tag-container">
          <i class="fas fa-tag fa-white-tag"></i>
          <p class="blue-tag-text">セール・特別運賃</p>
          <a href="#" class="blue-tag-link"></a>
        </div>
        <div class="blue-tag-container">
          <i class="fas fa-tag fa-white-tag"></i>
          <p class="blue-tag-text"> アリタリア-イタリア航空（AZ/AZA）</p>
          <a href="#" class="blue-tag-link"></a>
        </div>
      </div>

      <div class="article-blue-divider"></div>

      <p class="headline-ja">航空会社の記事一覧</p>
      <div class="article-content-tags">
        <div class="white-tag-article">
          <i class="fas fa-tag yellow-tag"></i>
          <p class="white-tag-text">日本航空 (JAL)</p>
          <a href="#" class="white-tag-anchor"></a>
        </div>
        <div class="white-tag-article">
          <i class="fas fa-tag yellow-tag"></i>
          <p class="white-tag-text">日本航空 (JAL)</p>
          <a href="#" class="white-tag-anchor"></a>
        </div>
        <div class="white-tag-article">
          <i class="fas fa-tag yellow-tag"></i>
          <p class="white-tag-text">日本航空 (JAL)</p>
          <a href="#" class="white-tag-anchor"></a>
        </div>
        <div class="white-tag-article">
          <i class="fas fa-tag yellow-tag"></i>
          <p class="white-tag-text">日本航空 (JAL)</p>
          <a href="#" class="white-tag-anchor"></a>
        </div>
        <div class="white-tag-article">
          <i class="fas fa-tag yellow-tag"></i>
          <p class="white-tag-text">日本航空 (JAL)</p>
          <a href="#" class="white-tag-anchor"></a>
        </div>
        <div class="white-tag-article">
          <i class="fas fa-tag yellow-tag"></i>
          <p class="white-tag-text">日本航空 (JAL)</p>
          <a href="#" class="white-tag-anchor"></a>
        </div>
        <div class="white-tag-article">
          <i class="fas fa-tag yellow-tag"></i>
          <p class="white-tag-text">日本航空 (JAL)</p>
          <a href="#" class="white-tag-anchor"></a>
        </div>
        <div class="white-tag-article">
          <i class="fas fa-tag yellow-tag"></i>
          <p class="white-tag-text">日本航空 (JAL)</p>
          <a href="#" class="white-tag-anchor"></a>
        </div>
      </div>
      <div class="article-content-attempt">
        <div class="arrow-attempt">
          <i class="fas fa-angle-right yellow-angle"></i>
          <a href="#" class="attempt-text">乗り物・コラムをもっと見る</a>
        </div>
      </div>


    </div>
    <!--    ############ traicy トーク 一覧 ############-->
    <div class="middle-talk-container">
      <div class="tabs-row">
        <a href="#" class="tab-text-wide">旅行好きが集まる!コミュニティ! トライシートーク</a>
        <a href="#" class="tab-text-talk">WI-FI</a>
        <a href="#" class="tab-text-talk">航空券</a>
      </div>
      <div class="traicy-talk-container">
        <div class="traicy-talk-contents">
          <div class="tabs-row-talk">
            <div class="talk-tab-left">
              <p class="tab-title">Traicy Talk</p>
              <a href="#" class="traicy-talk-tab">新着</a>
              <a href="#" class="traicy-talk-tab">未回答</a>
              <a href="#" class="traicy-talk-tab">回答済み</a>
            </div>
            <div class="arrow-attempt-row">
              <i class="fas fa-angle-right yellow-angle"></i>
              <a href="#" class="attempt-text-talk"> TraicyTalkをもっと見る</a>
            </div>
          </div>
          <div class="talk-contents-row">
            <i class="fas fa-angle-left angle-icon"></i>
            <div class="talk-contents-left">
              <div class="talk-text-icon-row">
                <a href="#" class="content-title-talk">東京から長崎のランタンフェスティバルへ...</a>
                <i class="far fa-comment comment-icon"></i>
                <span class="comment-num">2</span>
              </div>

              <div class="talk-text-icon-row">
                <a href="#" class="content-title-talk">東京から長崎のランタンフェスティバルへ...</a>
                <i class="far fa-comment comment-icon"></i>
                <span class="comment-num">2</span>
              </div>
              <div class="talk-text-icon-row">
                <a href="#" class="content-title-talk">東京から長崎のランタンフェスティバルへ...</a>
                <i class="far fa-comment comment-icon"></i>
                <span class="comment-num ">2</span>
              </div>
              <div class="talk-text-icon-row">
                <a href="#" class="content-title-talk">東京から長崎のランタンフェスティバルへ...</a>
                <i class="far fa-comment comment-icon"></i>
                <span class="comment-num">2</span>
              </div>
              <div class="talk-text-icon-row">
                <a href="#" class="content-title-talk">東京から長崎のランタンフェスティバルへ...</a>
                <i class="far fa-comment comment-icon"></i>
                <span class="comment-num">2</span>
              </div>


            </div>
            <div class="talk-contents-right">
              <div class="talk-text-icon-row">
                <a href="#" class="content-title-talk">東京から長崎のランタンフェスティバルへ...</a>
                <i class="far fa-comment comment-icon"></i>
                <span class="comment-num">2</span>
              </div>

              <div class="talk-text-icon-row">
                <a href="#" class="content-title-talk">東京から長崎のランタンフェスティバルへ...</a>
                <i class="far fa-comment comment-icon"></i>
                <span class="comment-num">2</span>
              </div>
              <div class="talk-text-icon-row">
                <a href="#" class="content-title-talk">東京から長崎のランタンフェスティバルへ...</a>
                <i class="far fa-comment comment-icon"></i>
                <span class="comment-num ">2</span>
              </div>
              <div class="talk-text-icon-row">
                <a href="#" class="content-title-talk">東京から長崎のランタンフェスティバルへ...</a>
                <i class="far fa-comment comment-icon"></i>
                <span class="comment-num">2</span>
              </div>
              <div class="talk-text-icon-row">
                <a href="#" class="content-title-talk">東京から長崎のランタンフェスティバルへ...</a>
                <i class="far fa-comment comment-icon"></i>
                <span class="comment-num">2</span>
              </div>
            </div>
            <i class="fas fa-angle-right angle-icon"></i>
          </div>
        </div>
      </div>
    </div>

    <!--    ############# イベント　キャンペーン情報一覧 ##########-->
    <div class="events-campaigns-container">
      <div class="headline-row">
        <div class="headline-left">
          <p class="headline-en">
            EVENT・CAMPAIGN
          </p>
          <p class="headline-ja">
            イベント・キャンペーン情報
          </p>
        </div>
        <div class="headline-right">
          <a href="#" class="headline-tab">開催中</a>
          <a href="#" class="headline-tab">もうすぐ終了</a>
        </div>
      </div>
      <div class="article-cards-list">
        <div class="article-card">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
            <div class="article-info-row">
              <p class="date">
                1月1日~1月24日
              </p>
              <i class="far  fa-calendar-plus calender-icon"></i>
              <p class="time-limit">
                あと20日
              </p>
            </div>
          </div>

        </div>
        <div class="article-card">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
            <div class="article-info-row">
              <p class="date">
                1月1日~1月24日
              </p>
              <i class="far  fa-calendar-plus calender-icon"></i>
              <p class="time-limit">
                あと20日
              </p>
            </div>
          </div>

        </div>
        <div class="article-card">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
            <div class="article-info-row">
              <p class="date">
                1月1日~1月24日
              </p>
              <i class="far  fa-calendar-plus calender-icon"></i>
              <p class="time-limit">
                あと20日
              </p>
            </div>
          </div>

        </div>
        <div class="article-card">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
            <div class="article-info-row">
              <p class="date">
                1月1日~1月24日
              </p>
              <i class="far  fa-calendar-plus calender-icon"></i>
              <p class="time-limit">
                あと20日
              </p>
            </div>
          </div>

        </div>
        <div class="article-card">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
            <div class="article-info-row">
              <p class="date">
                1月1日~1月24日
              </p>
              <i class="far  fa-calendar-plus calender-icon"></i>
              <p class="time-limit">
                あと20日
              </p>
            </div>
          </div>

        </div>
        <div class="article-card">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
            <div class="article-info-row">
              <p class="date">
                1月1日~1月24日
              </p>
              <i class="far  fa-calendar-plus calender-icon"></i>
              <p class="time-limit">
                あと20日
              </p>
            </div>
          </div>

        </div>
        <div class="article-card">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
            <div class="article-info-row">
              <p class="date">
                1月1日~1月24日
              </p>
              <i class="far  fa-calendar-plus calender-icon"></i>
              <p class="time-limit">
                あと20日
              </p>
            </div>
          </div>

        </div>
        <div class="article-card">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
            <div class="article-info-row">
              <p class="date">
                1月1日~1月24日
              </p>
              <i class="far  fa-calendar-plus calender-icon"></i>
              <p class="time-limit">
                あと20日
              </p>
            </div>
          </div>

        </div>
        <div class="article-card">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
            <div class="article-info-row">
              <p class="date">
                1月1日~1月24日
              </p>
              <i class="far  fa-calendar-plus calender-icon"></i>
              <p class="time-limit">
                あと20日
              </p>
            </div>
          </div>

        </div>
        <div class="article-card">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
            <div class="article-info-row">
              <p class="date">
                1月1日~1月24日
              </p>
              <i class="far  fa-calendar-plus calender-icon"></i>
              <p class="time-limit">
                あと20日
              </p>
            </div>
          </div>

        </div>
        <div class="article-card">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
            <div class="article-info-row">
              <p class="date">
                1月1日~1月24日
              </p>
              <i class="far  fa-calendar-plus calender-icon"></i>
              <p class="time-limit">
                あと20日
              </p>
            </div>
          </div>

        </div>
        <div class="article-card">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
            <div class="article-info-row">
              <p class="date">
                1月1日~1月24日
              </p>
              <i class="far  fa-calendar-plus calender-icon"></i>
              <p class="time-limit">
                あと20日
              </p>
            </div>
          </div>

        </div>
        <div class="article-card">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
            <div class="article-info-row">
              <p class="date">
                1月1日~1月24日
              </p>
              <i class="far  fa-calendar-plus calender-icon"></i>
              <p class="time-limit">
                あと20日
              </p>
            </div>
          </div>

        </div>
        <div class="article-card">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
            <div class="article-info-row">
              <p class="date">
                1月1日~1月24日
              </p>
              <i class="far  fa-calendar-plus calender-icon"></i>
              <p class="time-limit">
                あと20日
              </p>
            </div>
          </div>

        </div>
        <div class="article-card">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
            <div class="article-info-row">
              <p class="date">
                1月1日~1月24日
              </p>
              <i class="far  fa-calendar-plus calender-icon"></i>
              <p class="time-limit">
                あと20日
              </p>
            </div>
          </div>

        </div>
        <div class="article-card">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
            <div class="article-info-row">
              <p class="date">
                1月1日~1月24日
              </p>
              <i class="far  fa-calendar-plus calender-icon"></i>
              <p class="time-limit">
                あと20日
              </p>
            </div>
          </div>

        </div>
        <div class="article-card">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
            <div class="article-info-row">
              <p class="date">
                1月1日~1月24日
              </p>
              <i class="far  fa-calendar-plus calender-icon"></i>
              <p class="time-limit">
                あと20日
              </p>
            </div>
          </div>

        </div>
        <div class="article-card">
          <div class="article-image">
            image
          </div>
          <div class="article-description">
            <a href="#" class="article-card-title">
              キャセイドラゴン航空、
              福岡線1日2便化を記念し特別運賃 往復2.8万円から
            </a>
            <div class="article-info-row">
              <p class="date">
                1月1日~1月24日
              </p>
              <i class="far  fa-calendar-plus calender-icon"></i>
              <p class="time-limit">
                あと20日
              </p>
            </div>
          </div>

        </div>
      </div>
      <div class="campaign-attempt-layout">
        <div class="arrow-attempt-row">
          <i class="fas fa-angle-right yellow-angle"></i>
          <a href="#" class="attempt-text-talk"> イベント・キャンペーン情報をもっと見る</a>
        </div>
      </div>
    </div>

    <!--    ####### バナー広告とinformationコンテナ#####-->
    <div class="ad-infos-container">
      <div class="banner-advertizement-bottom">Ad image</div>
      <div class="information-container">
        <div class="info-title-row">
          <p class="info-title-en">INFORMATION</p>
          <p class="info-title-ja">トライシーからのお知らせ</p>
        </div>
        <a href="#" class="info-content">2017年12月31日
          【ご報告】「第12回 Traicyトークイベント＆懇親会」チャリティ販売について
        </a>
        <a href="#" class="info-content">2017年12月31日
          【ご報告】「第12回 Traicyトークイベント＆懇親会」チャリティ販売について
        </a>
        <a href="#" class="info-content">2017年12月31日
          【ご報告】「第12回 Traicyトークイベント＆懇親会」チャリティ販売について
        </a>
        <a href="#" class="info-content">2017年12月31日
          【ご報告】「第12回 Traicyトークイベント＆懇親会」チャリティ販売について
        </a>
        <a href="#" class="info-content">2017年12月31日
          【ご報告】「第12回 Traicyトークイベント＆懇親会」チャリティ販売について
        </a>
      </div>
      <div class="banner-advertizement-bottom">Ad image</div>
    </div>
  </div>
  <div class="right-contents">
    <div class="sidebar-card-ad">ad card</div>
    <div class="sidebar-card-ad">ad card</div>
    <p class="headline-ja">人気記事</p>
    <div class="popular-articles">
      <div class="small-popular-article">
        <div class="small-popular-article-photo">
          <div class="popularity-tag">tag</div>
          <img src="#">
        </div>
        <a href="#" class="small-popular-article-text">
          世界最高の空港、6年連続でシンガポール・チャンギ国際空港　羽田は3位、中部は7位
        </a>
      </div>
      <div class="small-popular-article">
        <div class="small-popular-article-photo">
          <div class="popularity-tag">tag</div>
          <img src="#">
        </div>
        <a href="#" class="small-popular-article-text">
          世界最高の空港、6年連続でシンガポール・チャンギ国際空港　羽田は3位、中部は7位
        </a>
      </div>
      <div class="small-popular-article">
        <div class="small-popular-article-photo">
          <div class="popularity-tag">tag</div>
          <img src="#">
        </div>
        <a href="#" class="small-popular-article-text">
          世界最高の空港、6年連続でシンガポール・チャンギ国際空港　羽田は3位、中部は7位
        </a>
      </div>
      <div class="small-popular-article">
        <div class="small-popular-article-photo">
          <div class="popularity-tag">tag</div>
          <img src="#">
        </div>
        <a href="#" class="small-popular-article-text">
          世界最高の空港、6年連続でシンガポール・チャンギ国際空港　羽田は3位、中部は7位
        </a>
      </div>
      <div class="small-popular-article">
        <div class="small-popular-article-photo">
          <div class="popularity-tag">tag</div>
          <img src="#">
        </div>
        <a href="#" class="small-popular-article-text">
          世界最高の空港、6年連続でシンガポール・チャンギ国際空港　羽田は3位、中部は7位
        </a>
      </div>
    </div>
    <div class="sidebar-vertical-ad">ad big</div>
    <p class="headline-ja">航空会社の記事一覧</p>
    <div class="sidebar-tags-container">
      <div class="white-tag">
        <i class="fas fa-tag yellow-tag"></i>
        <p class="white-tag-text">日本航空 (JAL)</p>
        <a href="#" class="white-tag-anchor"></a>
      </div>
      <div class="white-tag">
        <i class="fas fa-tag yellow-tag"></i>
        <p class="white-tag-text">全日本空輸 (ANA)</p>
        <a href="#" class="white-tag-anchor"></a>
      </div>
      <div class="white-tag">
        <i class="fas fa-tag yellow-tag"></i>
        <p class="white-tag-text">ジェットスター・ジャパン</p>
        <a href="#" class="white-tag-anchor"></a>
      </div>
      <div class="white-tag">
        <i class="fas fa-tag yellow-tag"></i>
        <p class="white-tag-text">日本航空 (JAL)</p>
        <a href="#" class="white-tag-anchor"></a>
      </div>
      <div class="white-tag">
        <i class="fas fa-tag yellow-tag"></i>
        <p class="white-tag-text">日本航空 (JAL)</p>
        <a href="#" class="white-tag-anchor"></a>
      </div>
      <div class="white-tag">
        <i class="fas fa-tag yellow-tag"></i>
        <p class="white-tag-text">日本航空 (JAL)</p>
        <a href="#" class="white-tag-anchor"></a>
      </div>
      <div class="white-tag">
        <i class="fas fa-tag yellow-tag"></i>
        <p class="white-tag-text">日本航空 (JAL)</p>
        <a href="#" class="white-tag-anchor"></a>
      </div>
      <div class="white-tag">
        <i class="fas fa-tag yellow-tag"></i>
        <p class="white-tag-text">日本航空 (JAL)</p>
        <a href="#" class="white-tag-anchor"></a>
      </div>
    </div>
    <div class="tag-attempt-container">
      <div class="arrow-attempt">
        <i class="fas fa-angle-right yellow-angle"></i>
        <a href="#" class="attempt-text">乗り物・コラムをもっと見る</a>
      </div>
    </div>
    <div class="sidebar-recruit-card">
      <div class="recruit-section-top">
        <p class="recruit-top-text">デザイナ・エンジニア募集中</p>
      </div>
      <div class="recruit-section-center">
        <p class="recruit-center-text">言語: PHP/Ruby</p>
        <p class="recruit-center-text">雇用: アルバイト・インターン</p>
        <p class="recruit-center-text">時給: 1000円~</p>
      </div>
      <div class="recruit-section-bottom">
        <img src="#" alt="" class="recruit-logo">
        ロゴ
      </div>
    </div>
    <p class="headline-ja">メールマガジンを登録する</p>

    <div class="sidebar-mail-register">
      <p class="mail-register-text">Traicyのメルマガでは以下の情報などをお届けしています。</p>
      <p class="mail-register-description">
        ・選りすぐりのデイリーニュース
      </p>
      <p class="mail-register-description">
        ・メルマガ限定クーポン
      </p>
      <p class="mail-register-description">
        ・激安セール開催の案内
      </p>
      <div class="mail-input-container">
        <input type="text" class="mail-register-input" title="mail-register" placeholder="メールアドレス">
        <button type="submit" class="mail-register-button">登録</button>
      </div>

      <p class="mail-register-text">お持ちのアカウントで登録する</p>
      <div class="sns-logos-row">
        <!--        TODO: replace these icons with circular one if needed-->
        <i class="fab fa-twitter-square mail-register-twitter"></i>
        <i class="fab fa-facebook-square mail-register-facebook"></i>
        <i class="fab fa-google-plus mail-register-google"></i>
        <i class="fab fa-yahoo mail-register-yahoo"></i>
      </div>
    </div>
    <div class="sidebar-card-ad">ad card</div>

  </div>
</div>
<!--######## フッター ######-->
<footer class="footer">
  <div class="footer-menu-row">
    <a href="#" class="footer-menu">お知らせ |</a>
    <a href="#" class="footer-menu"> 利用規約 |</a>
    <a href="#" class="footer-menu">配信先一覧 |</a>
    <a href="#" class="footer-menu">ライター一覧 |</a>
    <a href="#" class="footer-menu">広告掲載 |</a>
    <a href="#" class="footer-menu">ブロガーネットワーク登録 |</a>
    <a href="#" class="footer-menu">メルマガ登録 |</a>
    <a href="#" class="footer-menu">LINE登録 |</a>
    <a href="#" class="footer-menu">採用情報 |</a>
    <a href="#" class="footer-menu">運営会社情報 |</a>
    <a href="#" class="footer-menu">お問い合わせ</a>
  </div>
  <p class="copyright">
    Copyright(c) traicy, Inc. All rights reserved.
  </p>
</footer>
</body>
