<body>
<header class="header">
  <div class="Row">
    <div class="compLogo">Traicy</div>
    <div class="barAndAdvertize">
      <div class="barItemsRow">
        <div class="searchContainer">
          <input type="search" class="searchInput">
          <button type="submit" class="searchIconButton">
            <i class="fas fa-search searchIcon"></i>
          </button>
        </div>
        <div class="rowFlexEnd">
          <a href="#"><i class="fab fa-twitter  customIcon"></i></a>
          <a href="#"><i class="fab fa-facebook-f  customIcon"></i></a>
          <a href="#"><i class="fas fa-rss  customIcon"></i></a>
          <!--  TODO: Replace this with other icon-->
          <a href="#"><i class="fas fa-rss  customIcon"></i></a>
          <a href="#"><i class="fab fa-google-plus-g  customIcon"></i></a>
          <!-- TODO: replace this line icon with svg -->
          <a href="#"><i class="fab fa-line  customIcon"></i></a>
        </div>
        <a href="#" class="loginButton">
          ログイン/新規会員登録
        </a>
      </div>
      <div class="banner-advertizement-top">Ad image</div>
    </div>
  </div>
  <div class="menu-text-row">
   <p><a href="#" class="menu-text">航空</a> </p>
    <p><a href="#" class="menu-text">鉄道</a></p>
    <p><a href="#" class="menu-text">バス</a></p>
    <p><a href="#" class="menu-text">ホテル</a></p>
    <p><a href="#" class="menu-text">旅行会社</a></p>
    <p><a href="#" class="menu-text">クレカ</a></p>
    <p><a href="#" class="menu-text">自動車</a></p>
    <p><a href="#" class="menu-text">コラム</a></p>
    <p><a href="#" class="menu-text">本</a></p>
    <p><a href="#" class="menu-text">一問一答</a></p>
    <p><a href="#" class="menu-text">リリース</a></p>
    <p><a href="#" class="menu-text">旅行情報</a></p>
    <p><a href="#" class="menu-text">IR</a></p>
    <p><a href="#" class="menu-text">トーク(掲示板)</a></p>
    <p><a href="#" class="menu-text">航空券比較</a></p>
    <p><a href="#" class="menu-text">海外WI-FI比較</a></p>
  </div>

</header>

</body>
