<body>
<header class="header">
  <div class="Row">
    <div class="compLogo">Traicy</div>
    <div class="barAndAdvertize">
      <div class="barItemsRow">
        <div class="searchContainer">
          <input type="search" class="searchInput">
          <button type="submit" class="searchIconButton">
            <i class="fas fa-search searchIcon"></i>
          </button>
        </div>
        <div class="rowFlexEnd">
          <a href="#"><i class="fab fa-twitter  customIcon"></i></a>
          <a href="#"><i class="fab fa-facebook-f  customIcon"></i></a>
          <a href="#"><i class="fas fa-rss  customIcon"></i></a>
          <!--  TODO: Replace this with other icon-->
          <a href="#"><i class="fas fa-rss  customIcon"></i></a>
          <a href="#"><i class="fab fa-google-plus-g  customIcon"></i></a>
          <!-- TODO: replace this line icon with svg -->
          <a href="#"><i class="fab fa-line  customIcon"></i></a>
        </div>
        <a href="#" class="loginButton">
          ログイン/新規会員登録
        </a>
      </div>
      <div class="advertizement-top">Ad image</div>
    </div>

  </div>

</header>

</body>
