@import "./variables.scss";


@mixin title {
  font-family: $mainFont;
  font-size: 30px;
  font-weight: $bold;
  letter-spacing: 3px;
  line-height: 43px;
  word-wrap: break-word;
}

@mixin subTitle {
  font-family: $mainFont;
  font-size: 24px;
  letter-spacing: -0.13px;
  word-wrap: break-word;
  line-height: 36px;
}

@mixin body {
  font-family: $mainFont;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 30px;
  word-wrap: break-word;
}

@mixin middle {
  font-family: $mainFont;
  font-size: 18px;
  letter-spacing: -0.1px;
  line-height: 27px;
  word-wrap: break-word;
}

@mixin small {
  font-family: $mainFont;
  font-size: 13px;
  letter-spacing: -0.1px;
  line-height: 25px;
  word-wrap: break-word;
}
