@import "./variables";
@import "./mixins";
// common
* {
  box-sizing: border-box;
}
.button-common-style {
  background: $gradationYellow;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}

.button-anchor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.common-section-title {
  @include title;
  color: $black;
  margin-bottom: 40px;
}

.common-section-span {
  color: $skyBlue;
}

.common-section-body{
  @include body;
  color: $black;
}

.page-container {
  width: 1024px;
  margin: 0 auto;
}

.logo {
  height: 60px;
  width: 140px;
  margin-top: 20px;
  margin-left: 20px;
  position: relative;
  &:hover{
    opacity: 0.6;
  }
}

.section-top {
  width: 100%;
  padding: 15px 90px 50px 90px;
  display: flex;
  position: relative;
}

.section-top-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $negativeZIndex;
}

.section-top-desc {
  width: 360px;
}

.section-top-title {
  @include title;
  color: $white;
  margin-top: 30px;
  margin-bottom: 40px;
}

.section-top-small {
  @include small;
  color: $white;
  margin-bottom: 40px;
}

.section-top-button {
  height: 45px;
  width: 230px;
  border-radius: 18px;
  @extend .button-common-style;
}

.section-top-button-text {
  @include middle;
  color: $white;
  font-weight: $bold;
}

.section-top-app-image {
  margin-left: 240px;
}

.app-feat-text {
  @include title;
  color: $black;
  border-bottom: $black 6px solid;
  width: 365px;
  margin: 0 auto 20px auto;
}

.search-section {
  width: 100%;
  height: 300px;
  padding: 60px 90px;
  background: image-url("detect-background.png");
  z-index: $negativeZIndex;
}

.detect-section{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 40px 90px;
}

.detect-section-desc{
  width: 360px;
  margin-left: 70px;
}

.buy-section{
  width: 100%;
  padding: 30px 90px;
  background: $backgroundGray;
  display: flex;
  align-items: center;
}

.buy-app-image{
  margin-left: 130px;
}

.bottom-button{
  height: 70px;
  width: 360px;
  border-radius: 18px;
  box-shadow: 0 4px 4px 0 rgba($black,0.5);
  margin: 30px auto;
  @extend .button-common-style;
}

.bottom-button-text{
  @include subTitle;
  color: $white;
}
.bottom-promote-text{
  @include middle;
  color: $black;
  text-align: center;
  margin-bottom:40px;
}