$black: #313131;
$white: #ffffff;
$gray: #313131;
$snow: #e5e7e7;
$lightGray: #eeeeee;
$heavyGray: #a0a0a0;
$borderGray:#BFBFBF;
$primary: rgba($black, 0.9);
$secondary: rgba($black, 0.6);
$disabled: rgba($black, 0.3);

$blue: #245ba7;
$skyBlue:#78B7EA;
$lightBlue: #459fe3;
$lighterBlue:#009FEF;
$paleBlue: #e8eff8;
$yellow: #e79b2d;

$twitter: #1da1f2;
$facebook: #365899;
$google: #dd4330;
$yahoo: #ff0033;
// vars
$dtWidth: 1168px;
$desktop-padding-horizon: 150px;
$dtCenterContents: 865px;

$bold: 600;

// z-index
$negativeZIndex: -1;
$nullZIndex: 0;
$lowestZIndex: 50;
$lowerZIndex: 100;
$lowZIndex: 150;
$mediumZIndex: 200;
$highZIndex: 250;
$higherZIndex: 300;
$highestZIndex: 350;

$mainFont: "Hiragino Kaku Gothic Pro";
$subFont: "OCRB";
