$black: #313131;
$white: #ffffff;
$backgroundGray:rgba(228,228,228,0.32);
$skyBlue:#4EB9FD;
$gradationYellow:linear-gradient(142.8deg, #FBD249 0%, #F5A623 100%);

// vars
$mainWidth: 1024px;
$bold: 600;

// z-index
$negativeZIndex: -1;
$nullZIndex: 0;
$lowestZIndex: 50;

$mainFont: "Hiragino Kaku Gothic Pro";
$subFont: "OCRB";
